* {
    margin: 0;
    padding: 0;
    border: 0;

}
body {
    padding-top: 10%;
}
a {
    text-decoration: none;
    color: #09daff;
}
.container {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    gap:10px;
}
.box {
    background-color: #fa0;
    /* width: 100%; */
    /* height: 100px; */
}
.title {
    grid-column: span 4;
    background-color: #fa0;
    padding: 15px;
}
.item {
    /* grid-column: span 5; */
    background-color: #fa0;
    display: grid;
    place-items: center;
    height: 100px;
    position: relative;
    padding: 15px;
}
span.date {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #000;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;  
}
